@import "../01-Settings/spacing-sizing";

#site-header {
    h1 {
        max-width: $bp-md;
        padding: var(--space-md) var(--gutter);
        text-align: center;
        margin: 0 auto;
        small {
            display: block;
            font-size: 50%;
            font-weight: var(--fw-normal);
            font-style: italic;
        }

        a {
            color: var(--foreground);
            text-decoration: none;
            &:hover {
                color: var(--foreground-dark);
            }
        }
    }
}

#site-footer {
    .copyright {
        max-width: $bp-md;
        padding: var(--space-xl) var(--gutter);
        text-align: center;
        margin: 0 auto;
        font-size: var(--fs-sm);
    }
}
