$mobile-drawer-width: 100%;
$mobile-drawer-speed: 0.3s;
$mobile-drawer-bg: darken($brand-red, 5%);
$mobile-nav-breakpoint: $bp-md;

$header-height: 70px;
$header-height-compact: 70px;

$burger-color: $brand-white;
$burger-color-alt: $burger-color;
$burger-close-color: $burger-color;
/**
 * Z-Index Stacking for the various elements
 */
.site-container {
    z-index: 0;
    opacity: 1;
    .site-body {
        z-index: 1;
    }
    .site-header {
        z-index: 2;
    }
    .mobile-drawer {
        z-index: 3;
    }
    .open-nav {
        z-index: 4;
    }
}


/**
 * Positioning and behaviour for the site header
 */

/**
 * By default, fix the header and add top margin to the body
 */
.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all .3s;
}
.site-body {
    margin-top: $header-height;
}

/**
 * Site Header becomes 'compact' when scroll offset is larger than the height of the header.
 * The header is shifted above the viewport out of sight.
 */
.site-header.compact {
    top: (0 - $header-height);
    transition: all .3s;
}
/**
 * On upwards scroll, transition down and pin to the top of the screen
 */
body.scroll-up .site-header.compact {
    top: 0;
    transition: all .3s;
}


/**
 * Styling for the open and close triggers
 */
@keyframes burgerTop {
    0% {
        top: 6px;
    }

    50% {
        top: 15px;
    }

    100% {
        top: 15px;
        transform: rotate(45deg);
    }
}
@keyframes burgerBottom {
    0% {
        bottom: 6px;
    }

    50% {
        bottom: 15px;
    }

    100% {
        bottom: 15px;
        transform: rotate(-45deg);
    }
}

.open-nav {
    display: block;
    width: $header-height;
    height: $header-height;
    position: absolute;
    left: 0;
    top: 0;
    transition: right $mobile-drawer-speed;
}
.open-nav {
    .burger {
        display: block;
        position: relative;
        margin: $pad-lg-h;
        height: ($header-height - ($pad-lg-h * 2));
        box-sizing: border-box;
        &::before, &::after {
            display: block;
            height: 8px;
            width: 100%;
            background-color: $burger-color;
            content: "";
            position: absolute;
            top: 6px;
            left: 0;
            animation-delay: $mobile-drawer-speed;
        }
        &::before {

        }
        &::after {
            top: auto;
            bottom: 6px;
        }
    }
}
.site-header.compact .open-nav {
    .burger::before, .burger::after {
        background-color: $burger-color-alt;
    }
}

/**
 * When navigation drawer is opened, animate and reposition the
 * open and close buttons
 */
.nav-open {
    .open-nav {
        right: 0;
        left: auto;
        transition: right $mobile-drawer-speed;
    }
    .open-nav {
        .burger {
            &::before, &::after {
                background-color: $burger-close-color;
            }
            &::before {
                animation: burgerTop ($mobile-drawer-speed * 2) forwards;
                animation-delay: $mobile-drawer-speed;
            }
            &::after {
                animation: burgerBottom ($mobile-drawer-speed * 2) forwards;
                animation-delay: $mobile-drawer-speed;
            }
        }
    }
}

/**
 * And slide out the drawer
 */
.nav-open .mobile-drawer, .mobile-drawer:target {
    left: 0;
    position: fixed;
    transition: left $mobile-drawer-speed;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


/**
 * Basic Mobile Styles for the site header
 */
.site-header {
    background: $header-background;
    &.compact {
        background-color: $brand-black;
        .brand-header {
            a {
            }
        }
    }
    .brand-header {
        text-align: center;
        padding: 10px $header-height;
        transition: all .3s;
        height: $header-height;
        box-sizing: border-box;
        a {
            @extend %center-block;
            font-family: $font-heading;
            font-size: $fs-h4;
            text-decoration: none;
            line-height: ($header-height - 20px);
            white-space: nowrap;
            &::before {
                @extend .fa;
                content: $fa-var-calculator;
                @extend .mr-sm;
            }
        }
    }


}

/**
 * Site header styles when nav is opened
 */
.nav-open .site-header {
    .brand-header {
        padding-left: 0;
        text-align: left;
        a {
            margin: 0;
        }
    }
}


.mobile-drawer {
    position: absolute;
    left: (0 - $mobile-drawer-width);
    top: 0;
    height: 100vh;
    width: $mobile-drawer-width;
    transition: left $mobile-drawer-speed;
    background-color: $mobile-drawer-bg;
    .scroll-container {
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        width: 100%;
        padding-top: $header-height;
        box-sizing: border-box;
        overflow: hidden;
        overflow-y: auto;
        height: 100%;
        .scroll-wrap {
            height: 100%;
            box-sizing: border-box;
        }
    }


    .mobile-nav {
        text-align: center;
        ul {
            @extend %list-reset;
            width: 100%;
            li {
                width: 100%;
                a {
                    display: block;
                    position: relative;
                    text-decoration: none;
                    padding: $pad-lg;
                    opacity: 1;
                    transition: all .3s;
                    &::before, &::after {
                        position: absolute;
                        background-color: lighten($mobile-drawer-bg, 5%);
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 0px;
                        content: "";
                        transition: all .3s;
                        //z-index: -1;
                    }
                    &::after {
                        right: 0;
                        left: auto;
                    }
                    &:hover {
                        text-decoration: none;
                        transition: all .3s;
                        background-color: darken($mobile-drawer-bg, 5%);
                        padding-left: ($pad-lg-h + 8);
                    }
                    &:hover::before, &:hover::after {
                        width: $pad-lg-h;
                        transition: all .3s;
                    }
                }
            }
        }
    }
}

