@import 'utils';
@import 'typography';
@import 'grid-utils';
@import 'space';
@import 'header';
@import 'footer';


body {
    background-color: $body-bg;
    color: $body-color;
    line-height: $lh-base;
    font-size: $fs-base;
}

.site-container {

    .site-header {

    }
    .site-body {
        background-color: $body-bg;
    }
    .site-footer {
        background-color: $footer-background;
    }

}

/**
 * Container
 *
 * Block level elements that have a class of container have a fluid width up to the maximum site width.
 *
 */

.container {
    @extend %center-block;
    max-width: $max-site-width;
    padding: 0 $fg-gutter;
}


/**
 * When JS is turned off
 */

.no-script {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $brand-red;
    box-sizing: border-box;
    @extend .p-lg;
    text-align: center;
}
