
$delimiter: '-';
// sizes
$xxxs: 1px;
$xxs: 5px;
$xs: 6px;
$s: 10px;
$m: 16px;
$l: $s * 2;
$xl: $s * 2.5;
$xxl: $s * 4;
$xxxl: $s * 6;

$spacingSizes: (
    a    : auto,
    0    : 0,
    xxxs : $xxxs,
    xxs  : $xxs,
    xs   : $xs,
    sm   : $s,
    md   : $m,
    lg   : $l,
    xl   : $xl,
    xxl  : $xxl,
    xxxl : $xxxl
);

@each $name, $size in $spacingSizes {
    $d: #{if($name != '', $delimiter + $name, '')};

    // margin-top
    .mt#{$d} {
        margin-top: #{$size};
    }
    // margin-right
    .mr#{$d} {
        margin-right: #{$size};
    }
    // margin-bottom
    .mb#{$d} {
        margin-bottom: #{$size};
    }
    // margin-left
    .ml#{$d} {
        margin-left: #{$size};
    }
    // horizontal margins
    .mh#{$d} {
        margin-left: #{$size};
        margin-right: #{$size};
    }
    // vertical margins
    .mv#{$d} {
        margin-top: #{$size};
        margin-bottom: #{$size};
    }
    // all margins
    .m#{$d} {
        margin: #{$size};
    }

    @if $size != auto {
        // padding can't be 'auto'
        // padding-top
        .pt#{$d} {
            padding-top: #{$size};
        }
        // padding-right
        .pr#{$d} {
            padding-right: #{$size};
        }
        // padding-bottom
        .pb#{$d} {
            padding-bottom: #{$size};
        }
        // padding-left
        .pl#{$d} {
            padding-left: #{$size};
        }
        // padding horizontal
        .ph#{$d} {
            padding-left : #{$size};
            padding-right: #{$size};
        }
        // vertical padding
        .pv#{$d} {
            padding-top: #{$size};
            padding-bottom: #{$size};
        }
        // all padding
        .p#{$d} {
            padding: #{$size};
        }

        @if $size != 0 {

            // margin-top
            .mtn#{$d} {
                margin-top: -#{$size};
            }
            // margin-right
            .mrn#{$d} {
                margin-right: -#{$size};
            }
            // margin-bottom
            .mbn#{$d} {
                margin-bottom: -#{$size};
            }
            // margin-left
            .mln#{$d} {
                margin-left: -#{$size};
            }
            // horizontal margins
            .mhn#{$d} {
                margin-left: -#{$size};
                margin-right: -#{$size};
            }
            // vertical margins
            .mvn#{$d} {
                margin-top: -#{$size};
                margin-bottom: -#{$size};
            }

        }
    }
}


