
body {
    font-family: $font-base;
    font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-family: $font-heading;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    margin-bottom: $fs-base;
}

a {
    color: $link-color;
    text-decoration: underline;
    &:hover {
        color: $link-hover-color;
        text-decoration: none;
    }
}

.lead {
    font-size: $fs-lg;
    line-height: 1.4;
}
