.calculator {
    @extend %pv-xl;

    min-height: 100vh;

    font-size: $fs-h4;
    text-align: center;

    font-family: $font-heading;
    input {
        font-family: $font-base;
    }

    .input-group {
        @extend %pv-md;

        label {
            display: block;
            max-width: 100%;
            box-sizing: border-box;
            @extend %pr-sm;
        }

        button {
            @extend %ph-md;
            @extend %pv-xs;
            border-radius: 4px;
            display: inline-block;
            margin-bottom: 0; // For input.btn
            text-align: center;
            vertical-align: middle;
            touch-action: manipulation;
            cursor: pointer;
            background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
            border: 1px solid transparent;
            white-space: nowrap;
            &:focus {
                outline: none;
                margin: 1px 0 0 1px;
                box-shadow: 1px 1px 0px darken($brand-red, 15%);
            }
            color: darken($brand-red, 5%);
            background-color: $brand-white;
            box-shadow: 2px 2px 0px darken($brand-red, 15%);
            transition: all .2s;
            &:disabled, &[disabled="disabled"] {
                background-color: lighten($brand-red, 35%);
                cursor: not-allowed;
                transition: all .2s;
            }
        }
    }

    input {
        box-sizing: border-box;
        display: inline-block !important;
        max-width: 100%;
        height: (($fs-h4 * $lh-base) + 1px + ($xs * 2));

        @extend %p-xs;
        line-height: $lh-base;
        background-color: rgba($brand-white, 0.1);
        color: $brand-white;
        background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
        border: none;
        border-bottom: darken($brand-red, 6%) 1px solid;
        box-shadow: 0 1px 1px rgba(0,0,0,.075) inset;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

        // Customize the `:focus` state to imitate native WebKit styles.
        &:focus {
            border-color: darken($brand-red, 12%);
            outline: 0;
            box-shadow: 0 1px 1px rgba(0,0,0,.075) inset, 0 0 8px $brand-white;
        }

        // Unstyle the caret on `<select>`s in IE10+.
        &::-ms-expand {
            border: 0;
            background-color: transparent;
        }


        &.number-input {
            max-width: ($fs-h4 * 3);
        }
    }

    input[type="date"], .input-date {
        @extend %mh-a;
        text-align: center;
    }
}

@media(min-width: $bp-sm) {
    .calculator {
        /*
        .input-group {
            label {
                text-align: right;
                display: inline-block;
                min-width: 40%;
            }
        }
        */
    }
}

@keyframes rollIn {
  from {
    opacity: 0;
    transform: translate3d(-150%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  to {
    opacity: 1;
    transform: translateX(-50%);
  }
}

.rollIn {
  animation-name: rollIn;
  animation-duration: .4s;
}


.result-drawer {
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: absolute;
    top: 80px;
    left: auto;
    width: 100%;
    height: 100%;

    @extend %mhn-xl;
    border: 1px solid $brand-white;

    @extend %mt-xxl;
    background: $brand-red;
    @extend %p-lg;
    ul {
        @extend %list-reset;
        li {
            em {
                font-size: $fs-sm;
            }
        }
    }
    .close {
        position: absolute;
        display: block;
        right: 0;
        top: 0;
        @extend %m-sm;
        cursor: pointer;
        &::before {
            @extend .fa;
            content: $fa-var-close;
            font-size: $fs-h3;
        }
    }
}

@media(min-width: $bp-sm) {
    .result-drawer {
        top: 80px;
        left: 50%;
        width: auto;
        margin: 0;
        transform: none;
        max-width: 550px;
        min-width: 260px;
        transform: translateX(-50%);
    }
}

.mustache-template {
    display: none;
}
