html, body {
    margin: 0;
    padding: 0;
    font-family: var(--default-font);
    line-height: var(--leading-normal);
    background-color: var(--background);
    color: var(--foreground);
    * {
        box-sizing: border-box;
    }
}
